.table-style {
    padding: 10px;
}
.header-table {
    font-family: "IBM Plex Sans Thai", sans-serif !important;
    font-size: 16px !important;
    background-color: #131b28 !important;
    color: #fff !important;
    font-weight: 1000 !important;
}
.body-table {
    font-family: "IBM Plex Sans Thai", sans-serif !important;
    font-size: 14px !important;
}
.box-manage {
    width: 75px;
}
.table-custom {
    height: 450px !important;
}

.alert-modal {
    margin-top: 200px;
    font-family: "IBM Plex Sans Thai", sans-serif !important;
    font-size: 16px !important;
}
