.display-expenses{
    display: block;
    width: 100%;
    
}
.box-button{
    width: 100%;
    padding: 7px;
    justify-content: end;
    display: flex;
}
.btn-group-expenses{
    width: 150px;
}
.box-search{
    padding: 7px;
    width: 100%;
}